# fly.toml app configuration file generated for smoothcomp-calendar on 2025-12-20T20:48:35+11:00
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'smoothcomp-calendar'
primary_region = 'syd'

[build]

[env]
  AUTO_REFRESH_MINUTES = '60'

[http_service]
  internal_port = 8000
  force_https = true
  auto_stop_machines = 'stop'
  auto_start_machines = true
  min_machines_running = 0

[[vm]]
  memory = '256mb'
  cpus = 1
  memory_mb = 256
